:root{
  --sombra-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.317), 0 7px 10px -5px rgba(0, 0, 0, 0.232);
  --main-bg-color: #0101c2;
}

body, h1, h2, h3, p{
font-family: 'Roboto', sans-serif;
letter-spacing: 2px;
}

 .navbar{
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
  display: flex;
  flex-direction: column;
  align-content: center;
 }
  
 .navbar > .container{
  position: relative;
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
 }
 .image{
  position:relative;
  margin-right: 10px;
}
 .form-busqueda{
display:flex;
flex-direction: row;
width: 500px;
}

 .form-control{
   border-radius: 3%;
   
 }

 .button{
   color: var(--main-bg-color);
   border-color: cornflowerblue;
   border-radius: 3%; 
   background-color: cornflowerblue;
   margin-right: 10px;
 }

 .fa{
   color: var(--main-bg-color);
  font-size: 28px;
  position: relative;
 }



 .navbar1{
   box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
    background-color: var(--main-bg-color);
    padding: 20px;
    }

    ul{
      align-items: baseline;
    }

  li{
   float:right;
   list-style: none;
   }

  .nav-item > a {
   color: whitesmoke;
   font-size: 15px;
   font-weight: bold;
   margin: 20px;
   padding: 20px;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
 }

 .grid-lista{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 700px;
 }

 .nav-item >.active{
  border: 2px solid rgba(0, 0, 255, 0.457);
  border-radius: 5px;
  padding:5px;
  color: rgb(237, 209, 173);
 }

 .row{
  margin: 50px 150px;
 }

.card-contacto{
  box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
  border: 2px black solid;
  margin: 50px;
  padding: 20px;
  color: black;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-body{
  text-align: center;
  margin-bottom: 10px;
}

.fas{
  color: black;
  margin-top: 15px;
  font-size: 70px;
  position: relative;
}
/* 
.card-swiper-slide{
  margin:40px;
  display: flex;
  align-items: center;
  box-shadow: var(--sombra-box-shadow);
}

.card-img{
  width: 200px;
}

.card-title{
  font-size: 15px;
  font-weight: 600;
}

.swiper-slide:hover{
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.726), 0 7px 10px -5px rgba(0, 0, 0, 0.641); ;
} */

 footer{
   background:var(--main-bg-color); 
   display: inline-block;
   width: 100%;
   position: flex;
   flex-direction: row;
   align-items: center;
   color: whitesmoke;
}

.grid-container-2{
   display: grid;
   grid-template-columns: 33% 33% 33% ;
   justify-items: center;
   justify-content: center;
   text-align: center;
   margin-top: 2px;
}

.grid-container-2 > div{
 position: relative;
border-width: 2px;
}

.redes-sociales{
  display:flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.redes-sociales >li{
   float:left;
   height: auto;
   width: auto;
   border-radius: 20%;
   background-color: antiquewhite;
}


/* Productos Destacados */



.mySwiper{
  width: 90%;
  height: 400px;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:15px 15px;
  width: 250px;
  height: 350px;
  box-shadow: var(--sombra-box-shadow);
}

.card a{
  text-decoration: none;
}
.card h2{
  font-size: 15px;
  font-weight: 600;
  align-content: center;
  text-align: center;
  width: 200px;
  text-decoration: none;
  color:black;
}

.card p{
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: black;

}

.card:hover{
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.726), 0 7px 10px -5px rgba(0, 0, 0, 0.641); ;
} 