:root{
    --sombra-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.317), 0 7px 10px -5px rgba(0, 0, 0, 0.232);
}

body, h1, h2, h3, p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    }
    
.wrap{
   margin: 20px 200px;
}
.store-wrapper{
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.category-list{
    display: flex;
    flex-direction: column;
    padding:10px;
    margin-top:15px;
    height: fit-content;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: var(--sombra-box-shadow);
    color:black;
    text-decoration: none;
}

.categories a{
    color:black;
    text-decoration: none;
}
.products-list{
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    
}

.card img{
    width: 200px;
   height: 200px;
    object-fit: cover;
}
.category-items{
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 5px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px 25px;
    padding: 30;
    width: 250px;
    height: 350px;
    box-shadow: var(--sombra-box-shadow);
}

.card h2{
    font-size: 15px;
    font-weight: 600;
    align-content: center;
    text-align: center;
    width: 200px;
  }

.card p{
    font-size: 15px;
    text-align: center;

}

.card:hover{
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.726), 0 7px 10px -5px rgba(0, 0, 0, 0.641); ;
}

.pagination{
    margin-top: 50px;
}
.page-link{
    color: black;
    font-weight: 600;
    margin: 5px;
    border:none;
}

.page-link:hover{
    background-color: gainsboro;
    color: aliceblue;
}